@font-face {
  font-family: 'SansForgeticaRegular';
  src: local('Sans Forgetica Regular'),
       local('Sans-Forgetica-Regular'),
       url('fonts/SansForgetica-Regular.otf') format('otf');
}
*{
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
img{
  width: 100%;
}
body, #myaudio{
  transition: 3s;
}
body{
  overflow: hidden;
  box-sizing: border-box;
}
canvas {
	position: absolute;
	top: 0;
  left: 0;
  transition: ease 3s;
  box-sizing: border-box;
}
.zoom{
  zoom: 120%;
}
.title{
  position: absolute;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 2s;
}
h1{
  font-size: 5rem;
  color: white;
  text-align: center;
  margin-top: 15vh;
  font-family: 'SansForgeticaRegular';
}
.jouer{
  text-decoration: none;
  color:black;
  box-sizing: border-box;
  padding: 0.5% 2% ;
  border: 1px solid white;
  font-size: 3rem;
  margin-top: 20vh;
  background: white;
  border-radius: 50px;
  transition: 0.8s;
}
.back{
  text-decoration: none;
  color:black;
  box-sizing: border-box;
  padding: 0.5% 2% ;
  border: 1px solid white;
  font-size: 1rem;
  margin-top: 10vh;
  background: white;
  border-radius: 50px;
  transition: 0.8s;
}

.overlay{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: flex;
  padding-top: 7vh;
  background: rgba(33, 33, 33, 0.7);
  box-sizing: border-box;
  transition: 1s;
}
.overlay article{
  width: 50vw;
  padding: 2vh 4vw;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex-direction: column;
  box-sizing: border-box;
}
h2{
  color: white;
  width: 100%;
  font-size: 5rem;
  line-height: 100%;
  font-family: 'SansForgeticaRegular';
}
hr{
  width: 10%;
  border: 2px solid white;
  border-radius: 3px;
    margin-top: 3vh;
}
article .content{
  display: flex;
  flex-direction: column;
  width: 80%;
  box-sizing: border-box;
}
article p{
  color: white;
  margin-top: 3vh;
  font-size: 1.2rem;
  box-sizing: border-box;
}
.overlay article #button{
  text-align: center;
  color: black;
  background: white;
  justify-content: right;
  text-decoration: none;
  border: 1px solid white;
  width: 10vw;
  padding: 1vh;
  box-sizing: border-box;
  margin-right: 0;
  margin-left: auto;
  border-radius: 30px;
  margin-top: 5vh;
  transition: 0.8s;
}
.jouer:hover, .back:hover, .overlay article #button:hover{
  background: rgba(33, 33, 33, 0.5);
  color:white;
}
.hide{
  opacity: 0;
}
.show{
  opacity: 1;
}
.none{
  display: none;
}
.block{
  display: inline;
}
.audio, .noaudio{
  color: white;
}
.musique{
  display: flex;
  position: absolute;
  bottom: 4vh;
  box-sizing: border-box;
  z-index: 3;
  justify-content: center;
  width: 100%;
}
.musique a{
  width: 2vw;
}
.noaudio{
  margin-left: 1vw;
}
:root {
  cursor: none;
}
.cursor {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  border: 3px solid #D1D1D1;
  z-index: 9!important;
}